.social_icon {
    width: 30px;
    max-height: 30px;
    margin-right: 5px;
}

h3 {
    margin-top: 10px;
}

h2 {
    margin-bottom: 4px;
}

.subtitle {
    display: block;
    margin-bottom: 25px; /* 35px is a bit too big for CV */
}

body {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.barra_lateral {
    float: left;
    width: 30%;
    font-size: small;
    margin-right: 10px;
}

#pageContent {
    overflow: hidden;
    /* Clear float */
    margin-top: 25px;
}

.content {
    width: 70%;
    margin-left: 35%;
}

/* Make the selector invisible for printing */
@media print {

    body {
        width: 100%;
        margin: 0;
    }

    .barra_lateral {
        width: 30%;
    }

    .content {
        width: 65%;
        margin-left: 35%;
    }

    #pageContent {
        overflow: hidden;
        /* Clear float */
        margin-top: 0px;
    }

    h1 {
        font-size: large;
    }

    .noPrint {
        display: none;
    }
}

.row {
    align-items: center;
    display: flex;
    margin-top: 5px;
}


.text {
    /* text-indent: 5%; */
    text-align: justify;
}

.profile_image {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.twoCollumns {
    column-count: 2;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.experience-list {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.experience-list li {
    margin-bottom: 5px;
}