.social_icon {
  width: 30px;
  max-height: 30px;
  margin-right: 5px;
}

body{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.barra_lateral{
  float: left;
  width: 30%;
  font-size: small;
  margin-right: 10px;
}

.pageContent{
  overflow: hidden; /* Clear float */
  margin-top: -25px;
}

.content{
  width: 70%;
  margin-left: 35%;
}

/* Make the selector invisible for printing */
@media print {
  #languageSelector {
      display: none;
  }
  .noPrint {
    display: none;
  }
}

.row {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

h2 {
  margin-bottom: 5px;
}

.text{
  text-indent: 5%;
  text-align: justify;
}

.profile_image{
  width: 100%;
  border-radius: 5%;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.twoCollumns {
  column-count: 2;
  text-align: center;
}

li{
  margin-left: 10%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: goldenrod;
  text-decoration: underline;
}
